* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.First-container {
  width: 600px;
  height: 200px;
  background-image: url("img/pattern.png");
  background-size: cover;
}

.link1 {
  text-decoration: none;
}