* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.First-container {
  height: 100px;
  margin: 20px;
  padding: 10px;
  background-image: url("../img/pattern.png");
  background-size:contain;
}
 #logo {
   width: 200px;
   position: relative;
   top: 30px;
   left:20px;
 }

 .Second-container {
   width: 100vh;
   margin: auto;
   padding: 20px;
 }

 .text {
   font-size: 30px;
 }

.link1 {
  text-decoration: none;
}

.date {
  font-size: 12px;
  padding-top: 5px;
}

.tim {
  background-size: cover;
  width: 500px;
  height:200px;
}

.tim.1 {
  background-image: url("img/tim-1.jpg");
  
}

.tim.2 {
  background-image: url("img/tim-2.jpg");
}